/* NAVBAR STYLING */
.navbar {
  background-color: #232c33;
}

.navbar-collapse {
  font-size: 40px;
}
.navbar-brand {
  font-size: 40px !important;
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .dropdown .dropdown-menu {
    font-size: 16px !important;
  }
}
.navbar a {
  padding: 1rem;
  font-family: "Fira Code", monospace;
  color: white !important;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar a:hover {
  color: #d83452 !important;
  background-color: #232c33;
}

.navbar a:active {
  color: #d83452;
  background-color: #232c33;
}

.navbar a:focus {
  color: #d83452;
  background-color: #232c33;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #232c33;
}

.dropdown .dropdown-menu {
  background-color: #232c33;
  font-size: 28px;
}

/* TYPING ANIMATION FOR TEXT */
.type-animate {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.2em;
  animation: typing 2s steps(40, end), blink-caret;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.footer {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 12pt;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #8797a4;
}
