/* The style sheet for the write morse page
Will work in conjuction with the main styling page */


#letterToTest {
    color : whitesmoke  ;
    font-weight : bold;
    font-size: 1100%;
    background-color: #d83452;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#surroundLetter {
    color : white;
    font-size: 500%;
    border-radius: 10%;
    background: grey;
    border: 5px solid;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
}

.textBox {
    color:black;
    border-radius: 15%;
    border-style: solid ;
    border-color: black;
    background-color: white;
    text-align: center;
    margin: 5%;
    margin-bottom: 2%;
    height: 75%;
    position:relative;
    font-size: 450%;
}

.clicker {
    color:whitesmoke;
    border-radius:0%;
    border-style: solid ;
    border-color: black;
    background-color: #d83452;
    text-align: center;
    position:relative;
    font-size: 200%;
    list-style-position: inside ;
    text-align: center;
    margin-top: -5%;
    display: block; 
}

.clicker:hover {
    background-color:blueviolet
}