.about-page {
  font-family: "Fira Code", monospace;
  background-color: #232c33;
  color: white;
  font-size: 12pt;
  height: 200vh;
}

.image {
  height: 70%;
  /* position: absolute; */
  /* overflow: hidden; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0px -175px; */
  clip-path: inset(20% 0% 20% 0%);
}

.description {
  position: relative;
  padding-left: 10rem;
  padding-right: 10rem;
}

h1 {
  font-size: 2rem;
}
