* {
  font-family: "Fira Code", monospace;
}

#welcome {
  font-size: 4em;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  background-color: #232c33;
  color: white;
}

.page-brief {
  font-size: 1em;
  width: 80%;
  padding: 1rem;
  line-height: 2;
}

.sign-up-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  color: white;
  font-size: 14pt;
  height: 50%;
  width: 80%;

  margin: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: #d83452;
  box-shadow: 10px 10px white;
}

#log-in {
  width: 100%;
  padding: 5px;
  text-align: center;
  padding: 2rem 0 2rem 0;
  border-radius: 2rem;
  border: solid white 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#sign-up {
  width: 100%;
  padding: 2rem 0 2rem 0;
  text-align: center;
  border-radius: 2rem;
  border: solid white 3px;
}

.sign-up-fields a {
  color: white;
  text-decoration: none;
}

#log-in:hover,
#sign-up:hover {
  background-color: white;
  color: #232c33;
}

.game-selector > a:hover {
  text-decoration: none;
}

.sign-up-fields a:hover {
  color: #d83452;
  text-decoration: none;
  cursor: pointer;
}

.sign-up-fields {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  height: 90%;
}

.descriptor {
  background-color: #fbf7f4;
  height: 50vh;
}

/* .game-selector {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 20px;
  grid-template-columns: 75%;
  padding: 5rem 0 10rem 0;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
  background-color: #d83452;
  text-decoration: none;
}

.gamelink {
  height: 100%;
  border: solid white 5px;
  font-size: 50px;
  border-radius: 1rem;
  color: white;
  text-align: center;
  background-image: url("../Pages/images/morse.jpg");
} */

.game-selector {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: space-evenly;
  text-align: center;
  background-color: #d83452;
  text-decoration: none;
}
.gamelink {
  width: 300px;
  height: 300px;
  border: solid white 5px;
  font-size: 30pt;
  border-radius: 1rem;
  color: white;
  text-align: center;
  background-size: cover;
  margin: 1rem;
}

.overlay {
  position: relative;
  background-color: #232c33;
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
  height: 0;
  transition: 0.8s ease;
}

.gamelink:hover .overlay {
  height: 100%;
}

.overlay-text {
  color: white;
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#read {
  background-image: url("../images/open-book.svg");
  /* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
  background-color: salmon;
}

#write {
  background-image: url("../images/writing-tool.svg");
  /* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
  background-color: #1a8fe3;
}

#flashcards {
  background-image: url("../images/flash-cards.svg");
  /* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
  background-color: #f8c630;
}

#listen {
  background-image: url("../images/headphone-symbol.svg");
  /* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
  background-color: #768948;
}

@media only screen and (min-width: 900px) {
  #welcome {
    font-size: 4.5em;
  }
  .introduction {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 90vh;
  }

  .page-brief {
    height: 90vh;
    font-size: 1.2em;
    width: 50%;
    padding: 5rem;
    line-height: 2.5;
  }

  .sign-up-section {
    height: 90vh;
    width: 50%;
  }

  .sign-up-box {
    font-size: 18pt;
  }

  .overlay-text {
    font-size: 20px;
  }

  .sign-up-box {
    height: 70%;
    width: 70%;
    box-shadow: 20px 20px white;
    padding: 3rem;
  }
  #log-in {
    border: solid white 5px;
  }
  #sign-up {
    border: solid white 5px;
  }
}
