.buttons_read {
    font-size: 150%;
    border-radius: 0.2rem;
    color: white;
    background-color: #D83452;
    box-shadow:2px 2px white;
  }

  .buttons_read:active{
    background-color: pink;
    transform: translateY(2px);
  }

  .buttons_read:hover {
    background-color: pink;
    cursor:pointer;
  }

  .typeInput{
    font-size: 2rem;
    text-align:center;
    border-radius:0.5rem;
  }
  .typeInput:focus{
    outline:none;
    background-color: lightgrey;
  }