/* NAVBAR STYLING */
.navbar {
  background-color: #232c33;
}

.navbar-collapse {
  font-size: 28px;
}
.navbar-brand {
  font-size: 28px !important;
}

.navbar a {
  padding: 0.5rem;
  font-family: "Fira Code", monospace;
  color: white !important;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar a:hover {
  color: #d83452 !important;
  background-color: #232c33;
}

.navbar a:active {
  color: #d83452;
  background-color: #232c33;
}

.navbar a:focus {
  color: #d83452;
  background-color: #232c33;
}

#logo {
  width: 50px;
  height: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);
  padding: 2px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #232c33;
}

.dropdown .dropdown-menu {
  background-color: #232c33;
  font-size: 28px;
}

/* BUTTONS */
.white-button {
  text-align: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
  border: solid white 3px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #d83452;
  text-decoration: none;
  color: white;
}

.white-button:hover {
  background-color: white;
  color: #232c33;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* TYPING ANIMATION FOR TEXT */
.type-animate {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.2em;
  animation: typing 2s steps(40, end), blink-caret;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.footer {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 12pt;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #8797a4;
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .dropdown .dropdown-menu {
    font-size: 16px !important;
  }
  .navbar a {
    padding: 1rem;
  }
}

/* Site wide font for morse snippets. */
.morse,
.morse * {
  font-family: "Fira Mono", monospace;
}
