html {
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #232c33;
  color: white;
}

.fixed_footers {
  flex-shrink: 0;
  height: 3%;
}

.content_flex {
  flex: 1 0;
  display: inline-block;
}

.smallBox {
  text-align: center;
  font-size: 500%;
  color: grey;
  border-radius: 10%;
}

.when {
  color: grey;
}

/* .bigBox {
  text-align: center;
  background-color: aqua;
  padding-right: 0;
} */

.boxBig {
  font-size: 1000%;
  box-shadow: 10px 10px white;
  border-radius: 1rem;
  background-color: #1a8fe3;
}

.boxBigStart {

  box-shadow: 10px 10px white;
  border-radius: 1rem;
  background-color: #F8C630; 
  font-size: 150%

}

.inputBox {
  font-size: 3rem;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  color: black;
  min-height: 1.7em;
  max-height: 1.7em;
  font-stretch: wider;
}

.startAnsBox {
  font-size: 3rem;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  color: grey;
  min-height: 1.7em;
  max-height: 1.7em;
  font-stretch: wider;
  display: none;
}


.buttons {
  font-size: 150%;
  border-radius: 0.5rem;
  color: white;
  background-color: #1a8fe3;
  box-shadow:5px 5px white;
}
.buttons_read {
  font-size: 150%;
  border-radius: 0.2rem;
  color: white;
  background-color: #D83452;
  box-shadow:2px 2px white;
}
.buttons_fc {
  font-size: 150%;
  border-radius: 0.2rem;
  color: white;
  background-color: #F8C630;
  box-shadow:2px 2px white;
}
.buttons:hover {
  background-color: lightblue;
  cursor:pointer;
}

.buttons_read:hover {
  background-color: pink;
  cursor:pointer;

}
.buttons_fc:hover {
  background-color:orange;
  cursor:pointer;
}
.buttons:active{
  background-color: lightblue;
  transform: translateY(2px);
}
.buttons_read:active{
  background-color: pink;
  transform: translateY(2px);
}
.buttons_fc:active{
  background-color: orange;
  transform: translateY(2px);
}

.boxBigStart:hover {
  background-color: orange;

}
.boxBigStart:active{
  background-color: orange;
  transform: translateY(5px)
}

#theInput_FC {
  font-size: 3rem;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  color: black;
  min-height: 1.7em;
  max-height: 1.7em;
  font-stretch: wider;
  display: none;
}


.typeInput{
  font-size: 2rem;
  text-align:center;
  border-radius:0.5rem;
}
.typeInput:focus{
  outline:none;
  background-color: lightgrey;
}

.typeInput{
  font-size: 2rem;
  text-align:center;
  border-radius:0.5rem;
}
.typeInput:focus{
  outline:none;
  background-color: lightgrey;
}

/* Make the Small boxes disappear on small screen 
*/
@media screen and (max-width: 1024px) {
  .smallBox {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .boxBig {
    margin-top: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .boxBig {
    margin-top: 0;
    font-size: 500%;
  }
}

@media screen and (max-width: 1024px) {
  .when {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .inputBox {
    display: 2000%;
  }
}

/* Buttons responsive Design*/
@media screen and (max-width: 1024px) {
  .buttons {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 150%;
  }
}

