<!-- 
    HTML for the custom avatar selector page
-->

{% extends 'base.html' %}

{% block extra_css_js %}
<!-- Import custom sheets and JS-->
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/read_page.css')}}"> 
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/avatars.css')}}">   

<!-- 
    JS mainly for the post request.
    Post request which sends the new avatar which the user has selected
    to be saved in the User database. After the response returns to the 
    user the profile page is loaded again. 
-->
<script>
    //function for post request to db to save new avatar id selection
    function saveAvatar(avatar_num){
        if (avatar_num==0){
            //if nothing is selected and apply is clicked, return to profile and no request sent
            window.open('{{url_for("profile")}}', "_self"); 
        }else {
        fetch('/avatarChange', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body:JSON.stringify(avatar_num)
        })

        .then(function(response){
            window.open('{{url_for("profile")}}', "_self");
            return response.text()
        })
        .then(function(text){
            return console.log(text)    //console log of the request response
        }
        )}
    }
</script>
{% endblock %}

{% block content %}
<!-- content -->
<div class = 'content-flex' style = 'height: 100%'>
    <div class = 'container'></div>
    <!-- heading row -->
        <div class = 'row'>
            <h1 style= "text-align: center; width:100%"> Select an Avatar </h1>
        </div>
        <!-- row for the avatar faces-->
        <div class = 'row' style= 'margin: 10%'>
            <div class = 'col-md-1'></div>
            <!-- all col-md-2 is a picture frame for the 5 different avatars -->
            <div class = 'col-md-2'>
                <!-- Avatar 1-->
                <p class = 'imagBox' id = 'av1'>
                    <img src = '{{ url_for("static", filename = "images/avatar1.png")}}'>
                </p>
                <p>Avatar 1</p>
            </div>
            <div class = 'col-md-2'>
                <!-- Avatar 2-->
                <p class = 'imagBox' id = 'av2'>
                    <img src = '{{ url_for("static", filename = "images/avatar2.png")}}'>
                </p>
                <p>Avatar 2</p>
            </div>
            <div class = 'col-md-2'>
                <!-- Avatar 3-->
                <p class = 'imagBox' id = 'av3'>
                    <img src = '{{ url_for("static", filename = "images/avatar3.png")}}'>
                </p>
                <p>Avatar 3</p>
            </div>
            <div class = 'col-md-2'>
                <!-- Avatar 4-->
                <p class = 'imagBox' id = 'av4'>
                    <img src = '{{ url_for("static", filename = "images/avatar4.png")}}'>
                </p>
                <p>Avatar 4</p>
            </div>
            <div class = 'col-md-2'>
                <!-- Avatar 5-->
                <p class = 'imagBox' id = 'av5'>
                    <img src = '{{ url_for("static", filename = "images/avatar5.png")}}'>
                </p>
                <p>Avatar 5</p>
            </div>
            <div class = 'col-md-1'></div>
        </div>
        <!-- row for the apply and the cancel button-->
        <div class = 'row'>
            <div class = 'col-md-4'></div>
            <div class = 'col-md-2'>
                <!-- Apply button -->
                <p class = 'buttons_read' onclick = saveAvatar(selectedAvatar)> Apply </p>
            </div>
            <div class = 'col-md-2'>
                <!-- Cancel button -->
                <a href = '{{ url_for("profile")}}'><p class = 'buttons_read'> Cancel </p></a>
            </div>
            <div class = 'col-md-4'></div>
        </div>
    </div>
</div>

<script>
    // script to change the background of the currently selected avatar 
    var ids = ['av1','av2','av3','av4','av5'];
    var selectedAvatar = 0;
    var id_num = {
        'av1':1,'av2':2,'av3':3,'av4':4,'av5':5
    };

    //reset the background of all the avatars and then set the selected to pink
    function resetBack(id) {
        ids.forEach( function(temp) {
            document.getElementById(temp).style.backgroundColor='white';
        })
        document.getElementById(id).style.backgroundColor = '#d83452';
        selectedAvatar = id_num[id] //save the selected avatar id
    }

    //event listeners for each of the picture frames
    document.getElementById('av1').onclick = function() {resetBack('av1')};
    document.getElementById('av2').onclick = function() {resetBack('av2')};
    document.getElementById('av3').onclick = function() {resetBack('av3')};
    document.getElementById('av4').onclick = function() {resetBack('av4')};
    document.getElementById('av5').onclick = function() {resetBack('av5')};
</script> 

{% endblock %}