<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Learn Morse</title>

    <!-- Custom CSS and JS imports -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'CSS/universal.css')}}"
    />
    {% block extra_css_js %}{% endblock %}

    <!--FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top">
      <a class="navbar-brand" href="{{url_for('homepage')}}">Learn Morse</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarText"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Learn
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('write')}}">Write</a>
              <a class="dropdown-item" href="{{url_for('read')}}">Read</a>
              <a class="dropdown-item" href="#">Race</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('profile')}}">Profile </a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <div class="footer">
      <p>
        Learn Morse (2021)<br />
        .-.. . .- .-. -. -- --- .-. ... .
      </p>
    </div>
  </body>
</html>
