<!DOCTYPE html>


<html>
    <head>
        <title>A test page</title>
        <script src="translator.js"></script>
        
    </head>
    <body>
        <h1>Word to morse</h1>
        <input id="input_word" type="text">
        <button type="submit" onclick="player.play_morse('....')">Submit</button>
        <h1>sentence_to_morse</h1>
        <input id="input_sentence" type="text">
        <button type="submit" onclick="output.innerHTML = translator.func.sentence_to_morse(input_sentence.value).join(' ')">Submit</button>
        <p id="output"></p>
    </body>
    <script>
        input_word = document.getElementById('input_word')
        input_sentence = document.getElementById('input_sentence')
        output = document.getElementById('output')

    </script>
</html>