{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/homepage.css')}}"
/>
{% endblock %} {% block content %}
<div class="introduction">
  <div class="page-brief">
    <h1 id="welcome">Welcome</h1>
    <h2 class="type-animate">.-- . .-.. -.-. --- -- .</h2>
    <br />
    Ever wanted to learn morse code? Now is your chance.
    Practice efficiently with our engaging reading and writing trainer with live statistics and start upskilling yourself today. 
  </div>
  <div class="sign-up-section">
    <div class="sign-up-box">
      <div class="sign-up-fields">
        Start Learning for Free
        <a href="{{url_for('login')}}">
          <div id="log-in">Login</div>
        </a>
        <a href="{{url_for('signup')}}">
          <div id="sign-up">Sign Up</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="game-selector">
  <a href="v2writeMorsePage.html">
    <div class="gamelink">
      <div class="overlay">
        <div class="overlay-text">Write</div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="gamelink">
      <div class="overlay">
        <div class="overlay-text">Read</div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="gamelink">
      <div class="overlay">
        <div class="overlay-text">Race</div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="gamelink">
      <div class="overlay">
        <div class="overlay-text">another gamemode</div>
      </div>
    </div>
  </a>
</div>
{% endblock %}
