{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/learn.css')}}"
/>
{% endblock %} {% block content %}
<div class="learn-page">
  <h1>New to morse? We got you.</h1>
  <div class="multimedia">
    <div class="videos">
      <iframe
        src="https://www.youtube.com/embed/D8tPkb98Fkk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        src="https://www.youtube.com/embed/iy8BaMs_JuI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="image">IMAGE HERE</div>
  </div>
</div>
{% endblock %}
