{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="login-page">
  <div class="login-fields">
    <h2>Login</h2>
    <form action="">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <input id="submit" type="submit" value="Submit" />
    </form>
    <a href="{{url_for('signup')}}">Don't have an account?</a>
  </div>
</div>
{% endblock %}
