{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="login-page">
  <div class="login-fields">
    <h2>Login</h2>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}
        <br>
        {% if form.email.errors | length > 0 %}
        {% for error in form.email.errors %}
        {{ form.email(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.email(size=25) }}
        {% endif %}
  
      </p>
      <p>
        {{ form.password.label }}
        <br>
        {% if form.password.errors | length > 0 %}
        {% for error in form.password.errors %}
        {{ form.password(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.password(size=25) }}
        {% endif %}
      </p>
      <p>
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <a href="{{url_for('signup')}}">Don't have an account?</a>
  </div>
</div>
{% endblock %}