{% extends 'base.html' %} {% block extra_css_js %}
<link
  href="{{url_for('static',filename='CSS/profile.css')}}"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='JS/parse_SQL_stats.js')}}"></script>

{% endblock %} {% block content %}
<!-- Retrieving player data -->
<script>let player_data = {{ player_data|tojson }};</script>

<body>
    <div class = 'container' style ="display:flex;flex-direction: column;min-height:100%">

        <div class = 'row'>
            <p class = 'text-nowrap text-center' style ='font-size: x-large; margin: 3%'> Welcome {{ username }} </p> <!-- change Dean to {{ username }}-->
        </div>    
        <div class ='row'>
            <div class = 'col-md-3' id = 'avatarDiv' style = 'text-align:Left' >
                
                {% if avatar == 1 %}
                    <img src = '{{url_for("static", filename = "images/avatar1.png")}}' class = 'border_thick rounded center'>
                {% elif avatar == 2 %}
                    <img src = '{{url_for("static", filename = "images/avatar2.png")}}' class = 'border_thick rounded center'>
                {% elif avatar == 3 %}
                    <img src = '{{url_for("static", filename = "images/avatar3.png")}}' class = 'border_thick rounded center'>
                {% elif avatar == 4 %}
                    <img src = '{{url_for("static", filename = "images/avatar4.png")}}' class = 'border_thick rounded center'>
                {% elif avatar == 5 %}
                    <img src = '{{url_for("static", filename = "images/avatar5.png")}}' class = 'border_thick rounded center'>
                {% else %}
                    <img src = '{{url_for("static", filename = "images/generic_avatar.png")}}' class = 'border_thick rounded center'>
                {% endif %}
            </div>
            <div class = 'col-md-1'></div>
            <div class = 'col-md-8 rounded info-div'>
                <p><u>Name:</u> <span class = 'info-text'>{{ username }}</span></p>
                <p><u>Email:</u> <span class = 'info-text'>{{user_email}}</span></p>
                <p><u>Times Played:</u> <span class = 'info-text'>{{ player_data|length }}</span></p>
                <a href = '{{url_for("avatar")}}'><button id = 'avt' class = 'pswrd-button'> Change Avatar </button></a>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row"><p></p></div>
  </div>

  <div class="container">
    <div class="row">
      <p style="text-align: center; width: 100%">View your statistics below</p>
    </div>
  </div>
  <div class = 'container'>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
      style = 'min-width: 20%; max-width: 20%;'>
        Select gamemode
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style= 'background-color: white;' id = 'select_game'>
        <a class="dropdown-item" onclick="update_glance(1); update_graphs(1); changeVal('Write')">Write morse</a>
        <a class="dropdown-item" onclick="update_glance(2); update_graphs(2); changeVal('Read')">Read morse</a>
        <a class="dropdown-item" onclick="update_glance(3); update_graphs(3); changeVal('Flashcard')">Flashcards</a>
        <a class="dropdown-item" onclick="update_glance(4); update_graphs(4); changeVal('Listen')">Listen</a>
      </div>
    </div>
  </div>

  <div class="row"><p></p></div>
    <div class="row">
      <div class="stat-area rounded">{% block graphing %} {% endblock %}</div>
    </div>
  </div>
</body>

<script>
  function changeVal(val){
    document.getElementById('dropdownMenuButton').innerHTML = val;
  }

 
</script>

{% endblock %}
