{% extends "profile.html" %}{% block graphing %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="display: flex; flex-direction: row">
      <div class="col-sm-4 letterBox">
        <p>Your best letter:</p>
        <p id="best_letter"></p>
      </div>
      <div class="col-sm-4 letterBox">
        <p>Your worst letter:</p>
        <p id="worst_letter"></p>
      </div>
      <div class="col-sm-4 letterBox">
        <p>Average accuracy %:</p>
        <p id="average_accuracy"></p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="statsForNerds">
    <div class="row"><h2>Extra stats for nerds</h2></div>
    <div class="row surroundChart">
      <h3 style="font-size: 1rem">All Letters Success Percentage</h3>
      <canvas class="canvas" id="radial_chart"></canvas>
    </div>
    <div class="row surroundChart">
      <h3 style="font-size: 1rem">Last 20 plays Rolling Avergage</h3>
      <canvas class="canvas" id="line_chart"></canvas>
    </div>
    <div class="row"></div>
  </div>
</div>
<script>
  initialise_radial = function (data_object, radial_object) {
    // Data object is an object with keys "labels" and "data"
    // consisting of the relevant arrays
    let radial_chart = new Chart(radial_object, {
      type: "radar",
      options: {
        plugins: {
          legend: { display: false },
        },
        scales: {
          r: {
            suggestedMin: 0,
            suggestedMax: 100,
            grid: { circular: false },
          },
        },
      },
      data: {
        labels: data_object.labels,
        datasets: [
          {
            label: "Percentage accuracy",
            data: data_object.data,
            fill: true,
            backgroundColor: "rgba(60, 232, 60, 0.2)",
            borderColor: "rgb(60, 232, 60)",
            pointBackgroundColor: "rgb(60, 232, 60)",
            pointHoverBackgroundColor: "#fff",
          },
        ],
      },
    });
    return radial_chart;
  };

  initialise_line = function (data_object, line_object) {
    // Data object is an object with keys "labels" and "data"
    // consisting of the relevant arrays
    let line_chart = new Chart(line_object, {
      type: "line",
      options: {
        plugins: {
          legend: { display: false },
        },
        scales: {
          y: {
            suggestedMin: 0,
            suggestedMax: 100,
          },
        },
      },
      data: {
        labels: data_object.labels,
        datasets: [
          {
            label: "Average Accuracy (rolling average over 20 attempts)",
            data: data_object.data,
            fill: true,
            backgroundColor: "rgba(60, 232, 60, 0.2)",
            borderColor: "rgb(60, 232, 60)",
            pointBackgroundColor: "rgb(60, 232, 60)",
            pointHoverBackgroundColor: "#fff",
            borderWidth: 1,
            pointRadius: 1,
          },
        ],
      },
    });
    return line_chart;
  };

  update_glance = function (gamemode) {
    let best_letter = document.getElementById("best_letter");
    let worst_letter = document.getElementById("worst_letter");
    let average_accuracy = document.getElementById("average_accuracy");

    best_letter.innerHTML = glance_stats[gamemode].best.letter;
    worst_letter.innerHTML = glance_stats[gamemode].worst.letter;
    average_accuracy.innerHTML = Math.round(
      glance_stats[gamemode].average_accuracy
    );
  };

  // Initialising data array which will store all plotting data
  transformed_data2 = {};
  for (const layer_1 of [1, 2, 3, 4]) {
    // One entry for each game-mode
    transformed_data2[layer_1] = {};
    for (const layer_2 of ["radial", "line"]) {
      // One entry for either graph visualisation
      transformed_data2[layer_1][layer_2] = {};
      for (const layer_3 of ["label", "data"]) {
        // label and data arrays for each visualisation
        transformed_data2[layer_1][layer_2][layer_3] = [];
      }
    }
  }
  var transformed_data = parse_data(player_data);
  glance_stats = {};

  gen_glance = function (radial_data) {
    min = Math.min(...radial_data);
    max = Math.max(...radial_data);
    min_letter = String.fromCharCode(65 + radial_data.indexOf(min));
    max_letter = String.fromCharCode(65 + radial_data.indexOf(max));

    arrAvg = (arr) => arr.reduce((a, b) => a + b, 0) / arr.length; // Finding the average of an array
    average_accuracy = arrAvg(radial_data);

    return {
      worst: { letter: min_letter, accuracy: min },
      best: { letter: max_letter, accuracy: max },
      average_accuracy: average_accuracy,
    };
  };

  for (game_mode = 1; game_mode < 5; game_mode++) {
    glance_stats[game_mode] = gen_glance(
      transformed_data[game_mode]["radial"]["data"]
    );
  }

  let myRadialChart = document.getElementById("radial_chart").getContext("2d");
  let myLineChart = document.getElementById("line_chart").getContext("2d");

  radial_chart = initialise_radial(
    transformed_data[3]["radial"],
    myRadialChart
  );
  line_chart = initialise_line(transformed_data[3]["line"], myLineChart);

  update_graphs = function (game_mode) {
    chart_obj = { radial: radial_chart, line: line_chart };
    for (const chart_key in chart_obj) {
      chart = chart_obj[chart_key];

      // Removing labels and datasets
      chart.data.labels = transformed_data[game_mode][chart_key]["labels"];
      chart.data.datasets.forEach((dataset) => {
        dataset.data = transformed_data[game_mode][chart_key]["data"];
      });
      chart.update();
    }
  };

  update_glance(1);
  function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
      dataset.data.pop();
    });
    chart.update();
  }
</script>

{% endblock %}
