{% extends "base.html" %} {% block extra_css_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', JS/parse_SQL_stats.js)}}"></script>
{% endblock %} {% block content %}

<div style="height: 600px; width: 600px">
  <canvas id="radial_chart"></canvas>
  <canvas id="line_chart"></canvas>
</div>

<script>
  let letter_dataset = [];
  let letter_labels = [];
  for (i = 0; i < 26; i++) {
    letter_dataset.push(Math.random() * 50 + 50);
    letter_labels.push(String.fromCharCode(65 + i));
  }

  let rate_dataset = [];
  let rate_labels = [];
  for (i = 0; i < 1000; i++) {
    rate_dataset.push(Math.random() * 30 + 70);
    rate_labels.push(i + 100);
  }

  let myLetterChart = document.getElementById("radial_chart").getContext("2d");
  let myLineChart = document.getElementById("line_chart").getContext("2d");

  let letterCorrectness = new Chart(myLetterChart, {
    type: "radar",
    options: {
      scales: {
        r: {
          suggestedMin: 0,
          suggestedMax: 100,
        },
      },
    },
    data: {
      labels: letter_labels,
      datasets: [
        {
          label: "Percentage accuracy",
          data: letter_dataset,
          fill: true,
          backgroundColor: "rgba(60, 232, 60, 0.2)",
          borderColor: "rgb(60, 232, 60)",
          pointBackgroundColor: "rgb(60, 232, 60)",
          pointHoverBackgroundColor: "#fff",
        },
      ],
    },
  });

  let correctRate = new Chart(myLineChart, {
    type: "line",
    options: {
      scales: {
        y: {
          suggestedMin: 0,
          suggestedMax: 100,
        },
      },
    },
    data: {
      labels: rate_labels,
      datasets: [
        {
          label: "Average Accuracy (rolling average over 100 attempts)",
          data: rate_dataset,
          fill: true,
          backgroundColor: "rgba(60, 232, 60, 0.2)",
          borderColor: "rgb(60, 232, 60)",
          pointBackgroundColor: "rgb(60, 232, 60)",
          pointHoverBackgroundColor: "#fff",
          borderWidth: 1,
          pointRadius: 1,
        },
      ],
    },
  });
</script>

{% endblock %}
