{% extends 'base.html' %} {% block extra_css_js %}
<link
  href="{{url_for('static',filename='CSS/profile.css')}}"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='JS/parse_SQL_stats.js')}}"></script>

{% endblock %} {% block content %}
<!-- Retrieving player data -->
<script>var player_data = {{ player_data|tojson }};</script>

<body>
    <div class = 'container' style ="display:flex;flex-direction: column;min-height:100%">

        <div class = 'row'>
            <p class = 'text-nowrap text-center' style ='font-size: x-large; margin: 3%'> Welcome {{ username }}! </p> <!-- change Dean to {{ username }}-->
        </div>    
        <div class ='row'>
            <div class = 'col-md-3'>
                <img src = '{{ url_for("static", filename= "images/generic_avatar.png")}}' class = 'border_thick rounded'>
            </div>
            <div class = 'col-md-1'></div>
            <div class = 'col-md-8 rounded info-div'>
                <p><u>Name:</u> <span class = 'info-text'>{{ username }}</span></p>
                <p><u>Email:</u> <span class = 'info-text'>{{user_email}}</span></p>
                <p><u>Times Played:</u> <span class = 'info-text'>{{ player_data|length }}</span></p>
                <button class = 'pswrd-button'>Change Password</button>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row"><p></p></div>
  </div>

  <div class="container">
    <div class="row">
      <p style="text-align: center; width: 100%">View your statistics below</p>
    </div>
  </div>
    
  <div class="row"><p></p></div>
    <div class="row">
      <div class="stat-area rounded">{% block graphing %} {% endblock %}</div>
    </div>
  </div>
</body>
{% endblock %}
