<!-- 
    HTML for the read game page 
 -->

{% extends "base.html" %} {% block extra_css_js %}
<!-- import own style sheets -->
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/read_page.css')}}">
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/popUp.css')}}">
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/games_universal.css')}}">

<!-- import own JS files -->
<script src = "{{url_for('static',filename= 'JS/randomArrays.js')}}" ></script>
<script src = "{{url_for('static',filename= 'JS/translator.js')}}" ></script>
<script src = "{{ url_for('static',filename= 'JS/gameToDatabase.js')}}" ></script>
<script src = "{{ url_for('static',filename= 'JS/audio.js')}}" ></script>

<script>
    //audios
    var rightPing = new Audio("{{url_for('static', filename = 'audio/ding.mp3')}}");
    var wrongAudio = new Audio("{{url_for('static', filename = 'audio/bup_bow.mp3')}}")
    var shortSound = new Audio(" {{url_for('static', filename = 'audio/523.3Hz_0.2s.mp3')}} ") 
    var longSound = new Audio(" {{url_for('static', filename = 'audio/523.3Hz_0.6s.mp3')}} ")   


    var inputArray=[];
    //reset the input array 
    function resetClick (){
        inputArray = [];
        document.getElementById('form1').reset();
    };

    //click the long button and push - to the input array
    function longClick() {
        inputArray.push('-');
        arrayDisplay();
    };

    //click short button and push . to the input array 
    function shortClick() {
        inputArray.push('.');
        arrayDisplay();
    };

    //display the array of user inputs in the input box
    function arrayDisplay() {
        let string_display;
        string_display=inputArray.join('');
        document.getElementById('theInput').innerHTML = string_display;
        compareInput(string_display)
    };

    //function to compare input and the actual answer
    var wrongInRow = 0
    function compareInput(input){
        //if right
        if (input == validationArray[1].toUpperCase()){
            //run success function
            rightPing.play();
            resetClick();
            
            //save last letter
            lastLetter = validationArray[1];

            //shuffle carosuel
            testArray = presentArray(testArray,'Morse'); //gets a random array of letters to be presented
            validationArray = translator.func.morse_to_text(testArray, 'array'); //translates the array to morse
            playSound(testArray);
            wrongInRow = 0

            //Call function to send data to db. Parse userID, the test letter and right response and gamemode 
            dataToDB('/takeGameData',[lastLetter,1,2])
        //if wrong
        } else {
            wrongAudio.play();
            wrongInRow = wrongInRow + 1;
            //if wrong 3 times in a row then shuffle and display answer
            if(wrongInRow == 3){
                togglePopup(validationArray[1])
                wrongInRow = 0
                //Call function to send data to db. Parse userID, the test letter and right response and gamemode 
                dataToDB('/takeGameData',[validationArray[1],0,2])
            };

            resetClick(); //clear the previous response
        }
    }
    


    //carosuel functionality for random letters and then have a validation array in 
    var testArray = [];
    var validationArray = [];
    window.onload = function() {
        testArray = presentArray(testArray,'Morse'); //gets a random array of letters to be presented
        validationArray = translator.func.morse_to_text(testArray, 'array'); //translates the array to morse
        playSound(testArray);
        document.getElementsByTagName('body').className = 'body_flex';
    }

    //if wrong three times in a row toggle popup 
    function togglePopup(ans){
    document.getElementById('rightAns').innerHTML = ans.toUpperCase();
    document.getElementById("popup-wrong").classList.toggle("active");
    }

    //check the input which is inputted and compare the answer
    function checkLetterAns(){
        var answer = document.getElementById('typeInput').value;
        var ans = answer.toUpperCase();
        compareInput(ans);
    }

</script>
{% endblock %} {% block content %}
<!-- Content -->
<div class="content_flex"> <!-- gives the page the stretch property to the footer-->
    <!-- Row for the Header-->
    <div class = "row" style = 'display: flex; margin-bottom: 5%;'>
        <div class=" col-md-12">
            <h1> Read Morse <h1>
        </div>
    </div> 

        <!-- Row for the letter boxes-->
        <div class= "row">
            <!-- Before Box-->
            <div class = 'col-md-3'>
                <p class = 'when'> Before </p>
                <p class = 'smallBox morse' id ='beforeBox'> A </p>
            </div>
            <!-- Current Working Box-->
            <div id = 'bigBox' class = 'col-md-6'>
                <p class = 'boxBig morse' id ='currentBox' style = 'background-color: #D83452;'> B </p>
            </div>
            <!-- What is coming up next-->
            <div class = 'col-md-3'>
                <p class = 'when'> Next </p>
                <p class = 'smallBox morse' id = 'nextBox'> C </p>
            </div>
        </div>


        <!-- Row for the type input-->
        <div class="row" id = 'inputrow'>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!-- Form for the user's to type the letter into-->
                <form id ='form1' style= "text-align: center; display:block; height: 100%" onsubmit="checkLetterAns();return false;">
                    <label> Type answer here: </label><br>
                    <!-- Limit to one letter -->
                    <input name = 'toTest' type ='text' id = 'typeInput' maxlength="1" required='true' class ="typeInput">  </input>
                    <br><br>
                    <input type = 'submit' value = "Submit" class = 'buttons_read'/>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Three times wrong pop up -->
<div class="popup" id="popup-wrong">
    <div class="darken_back"></div>
    <div class="PU_content">
        <div class="close-btn" onclick="togglePopup('')">×</div>
        <h2 style = "color: black;">Having a Hard Time? </h2>
        <p style = "color: black;"> The answer is: </p>
        <p  class = 'rightAns' id = 'rightAns'></p>
    </div>
</div>

<footer class="fixed_footers morse" >
    <p style="text-align: left; font-size: x-small;">
      Learn Morse (2021)      .-.. . .- .-. -. -- --- .-. ... .
    </p>
</footer>
{% endblock %}