 {% extends "base.html" %} {% block extra_css_js %}
<!-- import own style sheets -->
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/write_morse.css')}}">
<link rel = 'stylesheet' href = "{{url_for('static',filename= 'CSS/popUp.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

<!-- import own JS files -->
<script src = "{{url_for('static',filename= 'JS/randomArrays.js')}}" ></script>
<script src = "{{url_for('static',filename= 'JS/translator.js')}}" ></script>

<script>
    //audios
    var rightPing = new Audio("{{url_for('static', filename = 'audio/ding.mp3')}}");
    var wrongAudio = new Audio("{{url_for('static', filename = 'audio/bup_bow.mp3')}}")
    //var longPlay = new Audio("{{url_for('static', filename = 'audio/523.3Hz_0.6.wav') }}")
    //var shortPlay = new Audio("{{url_for('static', filename = 'audio/523.3Hz_0.2s.wav') }}")


    var inputArray=[];
    function resetClick (){
        inputArray = [];
        document.getElementById('form1').reset();
    };


    function longClick() {
        inputArray.push('-');
        //longPlay.play()
        arrayDisplay();
    };


    function shortClick() {
        inputArray.push('.');
        //shortPlay.play()
        arrayDisplay();
    };


    function arrayDisplay() {
        let string_display;
        string_display=inputArray.join('');
        document.getElementById('theInput').innerHTML = string_display;
        compareInput(string_display)
    };

    var wrongInRow = 0
    function compareInput(input){
        //if right
        if (input == validationArray[1].toUpperCase()){
            //run success function
            rightPing.play();
            resetClick();
            testArray = presentArray(testArray,'Morse'); //gets a random array of letters to be presented
            validationArray = translator.func.morse_to_text(testArray, 'array'); //translates the array to morse
            wrongInRow = 0
        //if wrong
        } else {
            wrongAudio.play();
            wrongInRow = wrongInRow + 1;
            //if wrong 3 times in a row then shuffle and display answer
            if(wrongInRow == 3){
                togglePopup(validationArray[1])
                wrongInRow = 0
            };
            resetClick(); //clear the previous response
        }
    }
    


    //carosuel functionality for random letters and then have a validation array in 
    var testArray = [];
    var validationArray = [];
    window.onload = function() {
        //document.getElementById('theInput').innerHTML =" ";
        testArray = presentArray(testArray,'Morse'); //gets a random array of letters to be presented
        validationArray = translator.func.morse_to_text(testArray, 'array'); //translates the array to morse
        document.getElementsByTagName('body').className = 'body_flex';
    }

    function togglePopup(ans){
    document.getElementById('rightAns').innerHTML = ans.toUpperCase();
    document.getElementById("popup-wrong").classList.toggle("active");
    }

    function checkLetterAns(){
        var answer = document.getElementById('typeInput').value;
        var ans = answer.toUpperCase();
        compareInput(ans);
    }

</script>
{% endblock %} {% block content %}
<!-- Content -->
<div class="content_flex"> <!-- gives the page the stretch property to the footer-->
    <!-- Row for the Header-->
        <div class = "row" id = ''>
            <div class=" col-md-12">
                <h1 id ="header"> Read Morse <h1>
            </div>
        </div> 

        <!-- Row for the letter boxes-->
        <div class= "row">
            <!-- Before Box-->
            <div class = 'col-md-3'>
                <p class = 'when'> Before </p>
                <p class = 'smallBox' id ='beforeBox'> A </p>
            </div>
            <!-- Current Working Box-->
            <div id = 'bigBox' class = 'col-md-6'>
                <p class = 'boxBig' id ='currentBox' style = 'background-color: #D83452;'> B </p>
            </div>
            <!-- What is coming up next-->
            <div class = 'col-md-3'>
                <p class = 'when'> Next </p>
                <p class = 'smallBox' id = 'nextBox'> C </p>
            </div>
        </div>


        <!-- Row for the type input-->
        <div class="row" id = 'inputrow'>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="container" style ="margin-top: 5%;">

                    <form id ='form1' style= "text-align: center; display:inline-block; height: 100%" onsubmit="checkLetterAns();return false;">
                        <label> Type answer here: </label><br>
                        <input name = 'toTest' type ='text' id = 'typeInput' maxlength="1" required='true' class ="typeInput">  </input>

                        <br><br>
                        <input type = 'submit' value = "Submit"/>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Three times wrong pop up -->
<div class="popup" id="popup-wrong">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup('')">×</div>
        <h1 style = "color: black;">Having a Hard Time? </h1>
        <p style = "color: black;"> The answer is: </p>
        <p  id = 'rightAns'></p>
    </div>
</div>

<footer class="fixed_footers" >
    <p style="text-align: left; font-size: x-small;">
      Learn Morse (2021)      .-.. . .- .-. -. -- --- .-. ... .
    </p>
</footer>
{% endblock %}