{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="login-page">
  <div class="signup-fields">
    <h2>Sign-Up</h2>
    <form action="">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="email">Email:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="retype-password">Retype Password:</label><br />
      <input
        type="password"
        id="retype-password"
        name="retype-password"
      /><br /><br />
      <input id="submit" type="submit" value="Submit" />
    </form>
    <a href="login.html">Already have an account?</a>
  </div>
</div>
{% endblock %}
