{% extends "base.html" %} {% block extra_css_js %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'CSS/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="login-page">
  <div class="signup-fields">
    <h2>Sign-Up</h2>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}
        <br>
        {% if form.email.errors | length > 0 %}
        {% for error in form.email.errors %}
        {{ form.email(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.email(size=25) }}
        {% endif %}
        
      </p>
      <p>
        {{ form.display_name.label }}
        <br>
        {% if form.display_name.errors | length > 0 %}
        {% for error in form.display_name.errors %}
        {{ form.display_name(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.display_name(size=25) }}
        {% endif %}
      </p>
      <p>
        {{ form.password.label }}
        <br>
        {% if form.password.errors | length > 0 %}
        {% for error in form.password.errors %}
        {{ form.password(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.password(size=25) }}
        {% endif %}
      </p>
      <p>
        {{ form.retype_password.label }}
        <br>
        {% if form.retype_password.errors | length > 0 %}
        {% for error in form.retype_password.errors %}
        {{ form.retype_password(size=25, value='', placeholder=error)}}
        {% endfor %}
        {% else %}
        {{ form.retype_password(size=25) }}
        {% endif %}
      </p>
      <p>
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <a href="{{url_for('login')}}">Already have an account?</a>
  </div>
</div>
{% endblock %}